.info-form {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 15px;
  height: 100%;
  width: 300px;
  background: rgba(255, 255, 255, .8);
  padding: 20px;
  @include media-breakpoint-down(sm) {
    margin-right: 0px;
  }
  @include media-breakpoint-down(xs) {
    width: 100%;
    left: 0px;
  }
  .title {
    text-align: center;
  }
  .load-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    display: flex;
    align-items: center;
  }
}
