.map-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;

  .container {
    max-width: 800px;
    height: 100%;
    width: 100%;
    @include media-breakpoint-down(sm) {
      width: 100%;
      padding: 0px;
      position: absolute;
    }
    .map {
      width: 100%;
      height: 500px;
      @include media-breakpoint-down(sm) {
        height: 100%;
      }
    }
  }
}
