.map-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;

  .container {
    max-width: 800px;
    width: 100%;
    @include media-breakpoint-down(sm) {
      position: absolute;
      height: 100%;
      top: 0px;
      padding: 0px;
    }
  }
}
